@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&family=Margarine&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* -----------------font family ---------------- */
:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Inter", sans-serif;
  --ff-design: "Satisfy", cursive;
  --ff-brand: "Margarine", sans-serif;

  --clr-white: #fff;
  --clr-dark: #333;
  --clr-grey-1: #102a42;
  --clr-grey-2: #617d98;
  --clr-grey-3: #f1f5f8;
  --clr-primary: #f53b57;
  --clr-primary-light: #f04660;
  --clr-secondary: #e9b949;

  --transform: all 0.3s linear;
}
/* -------------------GOBEL CSS ----------------- */
a {
  text-decoration: none;
}
image {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  letter-spacing: 0.5px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.75rem;
}
body {
  font-family: var(--ff-primary);
  background-color: var(--clr-white);
  color: var(--clr-grey-3);
  font-size: 0.876rem;
  line-height: 1.5rem;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* ----------------------nav bar ----------------- */
.nav-btn i {
  color: var(--clr-primary);
  position: fixed;
  left: 2%;
  top: 5%;
  cursor: pointer;
  font-size: 1.5rem;
}
.navebar {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: var(--transform);
  z-index: +1;
}
#check-box {
  display: none;
}


#check-box:checked ~ .navebar {
  transform: translateX(0);
}
.nav-header > h3 {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--clr-secondary) 25%,
    var(--clr-primary-light)
  );
  background-clip: text;
  margin-bottom: -1rem;
}
.nav-header img {
  height: 8.5rem;
  margin: 0 auto;
  display: block;
}
.nav-header {
  position: relative;
}
.nav-header > .nav-class {
  position: absolute;
  right: 0px;
  top: 5px;
}

.nav-header > .nav-class i {
  color: var(--clr-dark);
}
.nav-class :hover i {
  color: var(--clr-white);
  cursor: pointer;
  transition: var(--transform);
}
.nav-list {
  text-decoration: none;
}
.nav-link {
  display: block;
  color: var(--clr-white);
  margin-left: 1rem;
  margin-top: 0.4rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
}
.nav-link:hover {
  background-color: var(--clr-primary-light);
  padding-left: 1rem;
  transition: var(--transform);
  border-left: 0.5rem solid var(--clr-secondary);
}

@media screen and (min-width: 768px) {
  .navebar {
    width: 35%;
    max-width: 20rem;
  }
}
.conten-line {
  height: 0.4rem;
  background-image: linear-gradient(
    120deg,
    var(--clr-primary),
    var(--clr-secondary),
    var(--clr-primary)
  );
}

/* --------------------------banner start ------------------------ */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/banner3.jpg) center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hearder {
  text-align: center;
}
.hearder > h3 {
  font-family: var(--ff-design);
  color: transparent;
  background-image: linear-gradient(
    var(--clr-primary) 50%,
    var(--clr-secondary)
  );
  background-clip: text;
}
.hearder > h1 {
  font-family: var(--ff-secondary);
  color: transparent;
  background-image: linear-gradient(
    var(--clr-primary) 5%,
    var(--clr-secondary)
  );
  background-clip: text;
  margin-top: 0.3rem;
}
.hearder .btn {
  background-image: linear-gradient(
    var(--clr-primary) 5%,
    var(--clr-secondary)
  );
  width: 8rem;
  padding: 0.7rem;
  border-radius: 2rem;
  border: none;
  margin-top: 1rem;
  color: var(--clr-white);
  cursor: pointer;
  color: gainsboro;
}
.hearder:hover button {
  font-size: 0.9rem;
  transition: var(--transform);
  color: white;
}
.hearder:hover button {
  outline: 2px solid var(--clr-primary);
  outline-offset: 0.25rem;
}
/* --------------------------banner end ------------------------ */
.feachers {
  background-color: var(--clr-grey-3);
  color: rgb(89, 87, 87);
}
.feacher {
  text-align: center;
  padding: 2.5rem;
  transition: var(--transform);
}
.feachers > .feacher > p {
  max-width: 25rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
}
.feacher:hover {
  background-color: white;
  border-bottom-color: var(--clr-primary-light);
  box-shadow: 0 2px var(--clr-primary-light);
}
.feacher:hover i {
  color: var(--clr-primary);
  transform: translateY(-5px);
  transition: var(--transform);
}
.feacher:hover h4 {
  color: var(--clr-primary);
}

@media screen and (min-width: 576px) {
  .feacher {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  .feacher {
    width: 25%;
  }
}
/* --------------------- about start ------------------------ */
.about-section {
  padding: 4rem 2rem;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.about-img img {
  width: 100%;
  border-radius: 10px;
  height: auto;
  display: block;
}

.about-info > h3 {
  font-family: var(--ff-design);
  color: var(--clr-primary);
  font-weight: 900;
}
.about-info > h2 {
  color: var(--clr-primary);
  font-weight: 900;
  margin: 0.5rem 0;
}
.about-info > .about-text {
  color: var(--clr-dark);
  max-width: 40rem;
}
.about-info button {
  background-image: linear-gradient(
    var(--clr-primary) 5%,
    var(--clr-secondary)
  );
  width: 8rem;
  padding: 0.7rem;
  border-radius: 2rem;
  border: none;
  margin-top: 1rem;
  color: var(--clr-white);
  cursor: pointer;
  color: gainsboro;
}

/* Responsive Layout */
@media (min-width: 720px) {
  .about-section {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
/* --------------------- about end ------------------------ */
.product-section {
  width: 100%;
  padding: 4rem 2rem;
  max-width: 1170px;
  margin: 0 auto;
}
.product-info > h3 {
  font-family: var(--ff-design);
  color: var(--clr-primary);
}
.product-info > h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-info > p {
  color: var(--clr-dark);
  max-width: 25rem;
}
.product-info > a > button {
  background-image: linear-gradient(
    var(--clr-primary) 5%,
    var(--clr-secondary)
  );
  color: var(--clr-white);
  padding: 0.7rem;
  border-radius: 1.4rem;
  border: none;
  width: 6.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.product-item img {
  height: 16rem;
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
}
.product-item > h4 {
  color: var(--clr-dark);
}
.product-item > p {
  color: var(--clr-primary-light);
  font-weight: 500;
}
/* Responsive Layout */
@media (min-width: 720px) {
  .product-item {
    float: left;
    width: 50%;
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .product-item {
    float: left;
    width: 33.33%;
    padding-right: 2rem;
  }
}
@media (min-width: 1200px) {
  .product-info {
    float: left;
    width: 30%;
    padding-right: 2rem;
  }
  .product-img {
    float: left;
    width: 70%;
  }
}
/* --------------------- servic start ------------------------ */
.product-seccion {
  background-color: var(--clr-grey-2);
}
.product-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.product-info {
  text-align: center;
  padding-bottom: 2rem;
}
.seccion-item {
  text-align: center;
}
.seccion-menu {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.seccion-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--transform);
  height: 100%;
}
.seccion-item:hover {
  transform: translateY(-2px);
}
.seccion-item > p {
  max-width: 20rem;
  text-align: center;
}
.seccion-item > i {
  background-color: var(--clr-grey-2);
  padding: 0.5rem;
  border-radius: 50%;
  position: relative;
  bottom: 1rem;
}
.seccion-item:hover i {
  color: var(--clr-primary);
}
.seccion-item > h4 {
  text-align: center;
  color: var(--clr-secondary);
  font-weight: 800;
  padding-bottom: 0.5rem;
}
.seccion-item > img {
  border-radius: 0.5rem;
  width: 100%;
}

/* Responsive Layout */
@media (min-width: 720px) {
  .seccion-menu {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .seccion-menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .product-seccion {
    padding: 4rem 2rem;
  }
}
/* --------------------- servic end ------------------------ */
/* --------------------- emaill start ------------------------ */
.contect {
  background-color: var(--clr-grey-3);
  padding: 4rem 2.5rem;
}
.contect {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}
.contact-details > h4 {
  color: var(--clr-grey-2);
}
.contact-details > p {
  color: rgba(0, 0, 0, 0.859);
}

.send > h2 {
  color: var(--clr-primary-light);
  margin-bottom: 1rem;
}
.send {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.send > input {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  max-width: 25rem;
}
@media (min-width: 720px) {
  .contect {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .contect-info{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
}
/* --------------------- emaill end ------------------------ */
/* ----------------------footer start---------------- */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  padding-top: 3rem;
  background-color: var(--clr-dark);
  
}
.footer-item{
  display: flex;
  padding-bottom: 1rem;
  gap: 2rem;
}
.footer-item a{
  color: var(--clr-white);
  
  font-size: 1.5rem;
}